embed,
img,
object,
video {
  max-width: 100%;
}
sup {
  font-size: 58.3%;
  vertical-align: text-top;
}
sub {
  font-size: 58.3%;
  vertical-align: text-bottom;
}
.no-space-between-inline-blocks {
  *letter-spacing: normal; /*reset IE < 8*/
  letter-spacing: -0.31em; /*webkit*/
  word-spacing: -0.43em; /*IE < 8 && gecko*/
}
/*restore spacing on inner elements*/
.no-space-between-inline-blocks > * {
  letter-spacing: normal;
  word-spacing: normal;
}
.displace {
  left: -5000px;
  position: absolute;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  margin-top: 0;
}
.COLS_IN_ROW_WITHOUT_GAP {
  margin-left: -15px;
  margin-right: -15px;
}
.navbar-nav > li > a {
  padding: unset;
}
.navbar-nav > li > a:hover {
  background: unset;
}
a {
  color: inherit;
}
@media (min-width:1200px){
  .auto-clear .col-lg-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-lg-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-lg-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-lg-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-lg-6:nth-child(odd){clear:left;}
}
@media (min-width:992px) and (max-width:1199px){
  .auto-clear .col-md-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-md-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-md-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-md-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-md-6:nth-child(odd){clear:left;}
}
@media (min-width:768px) and (max-width:991px){
  .auto-clear .col-sm-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-sm-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-sm-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-sm-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-sm-6:nth-child(odd){clear:left;}
}
@media (max-width:767px){
  .auto-clear .col-xs-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-xs-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-xs-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-xs-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-xs-6:nth-child(odd){clear:left;}
}
html {
  font-size: 10px;
}
body {
  color: #000000;
  font-family: Lato, sans-serif;
  font-size: 1.6rem; /* 16px / 10px = 1.6rem */
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  text-decoration: none;
}
@media (max-width: 768px) {
html {
  font-size: 8px;
}
}
.global_container_ {
  float: none;
  height: auto;
  margin: 0 auto;
  position: relative;
  background: #ffffff center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.image {
  position: relative;
  background: url(images/photo-1459666644539-a9755.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.col {
  padding: 0 0 35.4rem;
  position: relative;
  background: url(images/layer_627.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.col-data-wrapper {
  margin: 0 auto;
  padding: 0 1.546392%; /* 15px / 970px = 1.546392% */
  position: relative;
}
.logo {
  display: block;
  margin: 7px auto 0;
  position: relative;
  right: 5%;
  width: 45px;
}
@media (max-width: 768px) {
.logo {
  right: 0;
}
}
@media (max-width: 768px) {
.logo {
  margin-bottom: 20px;
}
}
.nav-2 {
  margin: 24px auto 0;
  position: relative;
}
.text {
  margin: 0 -0.471698% 0 auto; /* -1px / 212px = -0.471698% */
  color: #fefeff;
  font-size: 1.2rem; /* 12px / 10px = 1.2rem */
  font-style: italic;
  font-weight: 900;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.row-3-2 {
  left: 3.066038%;
  margin: 2px auto 13px;
  position: relative;
  width: 93.86793%; /* 199px / 212px = 93.86793% */
}
.shape-1-copy {
  float: left;
  height: 1px;
  max-width: 84px;
  width: 42.211056%; /* 84px / 199px = 42.211056% */
  background: #ffffff;
}
.shape-1-copy-2 {
  float: right;
  height: 1px;
  max-width: 66px;
  width: 33.16583%; /* 66px / 199px = 33.16583% */
  background: #ffffff;
}
@media (max-width: 199px) {
.row-3-2 {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
}
@media (max-width: 768px) {
.row-3-2 {
  left: 0;
}
}
.text-2 {
  display: block;
  margin: 18.9rem 0 0 7.234043%; /* 68px / 940px = 7.234043% */
  max-width: 594px;
  position: relative;
  width: 100%;
}
.container-2 {
  position: relative;
}
.sticky-nav {
  position: relative;
}
.logo-2 {
  margin: 15px auto 0;
  position: relative;
}
.vector-smart-object {
  float: left;
  margin: 0 5.487805% 0 0; /* 9px / 164px = 5.487805% */
  width: 45px;
}
.text-4 {
  float: left;
  margin: 1px 0 0;
  width: 110px;
}
.nav-3 {
  margin: 29px auto 0;
  position: relative;
}
.text-3 {
  margin: 0 -0.471698% 0 auto; /* -1px / 212px = -0.471698% */
  color: #414f6b;
  font-size: 1.2rem; /* 12px / 10px = 1.2rem */
  font-style: italic;
  font-weight: 900;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.row-5 {
  left: 3.066038%;
  margin: 2px auto 16px;
  position: relative;
  width: 93.86793%; /* 199px / 212px = 93.86793% */
}
.shape-1-copy-3 {
  float: left;
  height: 1px;
  max-width: 84px;
  width: 42.211056%; /* 84px / 199px = 42.211056% */
  background: #414f6b;
}
.shape-1-copy-2-2 {
  float: right;
  height: 1px;
  max-width: 66px;
  width: 33.16583%; /* 66px / 199px = 33.16583% */
  background: #414f6b;
}
@media (max-width: 199px) {
.row-5 {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
}
@media (max-width: 768px) {
.row-5 {
  left: 0;
}
}
.container-3 {
  position: relative;
}
.bg {
  margin: 14px 0 0;
  padding: 4.4rem 0 45.3rem;
  position: relative;
  background: url(images/peak_2.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.text-5 {
  margin: 0 auto;
  position: relative;
  z-index: 0;
}
.wrapper-2 {
  min-height: 148px;
  overflow: hidden;
  position: relative;
  width: 25.74468%; /* 242px / 940px = 25.74468% */
  z-index: 85;
}
.history {
  left: 50%;
  max-width: 119px;
  position: absolute;
  top: 77px;
  color: #414f6b;
  font-family: Oswald, sans-serif;
  font-size: 3.199999rem; /* 32px / 10px = 3.2rem */
  font-weight: bold;
  line-height: 35px;
  margin-left: 2px;
}
.text-6 {
  left: 50%;
  max-width: 154px;
  position: absolute;
  top: 0;
  opacity: 0.5;
  color: #414f6b;
  font-family: Oswald, sans-serif;
  font-size: 13.562754rem; /* 135.63px / 10px = 13.563001rem */
  font-weight: bold;
  line-height: 148px;
  margin-left: -121px;
}
@media (max-width: 768px) {
.wrapper-2 {
  min-height: unset;
}
.wrapper-2 > * {
  display: block;
  margin: 15px auto;
  position: relative;
  width: 100%;
  min-width: unset;
  max-height: unset;
  min-height: unset;
  top: unset;
  bottom: unset;
  left: unset;
  right: unset;
}
}
@media (max-width: 242px) {
.wrapper-2 {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
}
.text-7 {
  margin: -8px auto 0;
  position: relative;
  width: 86.489365%; /* 813px / 940px = 86.489365% */
  z-index: 84;
  font-weight: 300;
  line-height: 24px;
}
@media (max-width: 813px) {
.text-7 {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
}
.container-4 {
  position: relative;
}
.bg-2 {
  min-height: 195px;
  position: relative;
  background: #414f6b;
  background-position: center center;
}
.image-2 {
  min-height: 195px;
  position: absolute;
  top: 0;
  width: 100%;
  background: url(images/peak.jpg) no-repeat center 0;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.2;
}
.col-data-wrapper-2 {
  margin: 0 auto;
  position: relative;
}
.rectangle-23-copy {
  display: block;
  left: 1.886792%;
  margin: 0 auto;
  position: relative;
  width: 100%;
}
@media (max-width: 768px) {
.rectangle-23-copy {
  left: 0;
}
}
@media (max-width: 992px) {
.rectangle-23-copy {
  margin-bottom: 20px;
}
}
.rectangle-23 {
  display: block;
  left: 1.886792%;
  margin: 0 auto;
  position: relative;
  width: 100%;
}
@media (max-width: 768px) {
.rectangle-23 {
  left: 0;
}
}
@media (max-width: 992px) {
.rectangle-23 {
  margin-bottom: 20px;
}
}
.rectangle-23-copy-2 {
  display: block;
  margin: 0 auto;
  position: relative;
  right: 1.886792%;
  width: 100%;
}
@media (max-width: 768px) {
.rectangle-23-copy-2 {
  right: 0;
}
}
@media (max-width: 992px) {
.rectangle-23-copy-2 {
  margin-bottom: 20px;
}
}
.rectangle-23-2 {
  display: block;
  margin: 0 auto;
  position: relative;
  right: 1.415094%;
  width: 100%;
}
@media (max-width: 768px) {
.rectangle-23-2 {
  right: 0;
}
}
@media (max-width: 992px) {
.rectangle-23-2 {
  margin-bottom: 20px;
}
}
.circle-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  margin: 11px auto 0;
  position: relative;
}
.circle-nav > * {
  float: left;
  margin: 0 20% 0 0; /* 6px / 30px = 20% */
}
.circle-nav > *:last-child {
  margin-right: 0 !important;
}
.ellipse-1 {
  height: 6px;
  width: 6px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #ffffff;
}
.ellipse-1-copy {
  height: 6px;
  width: 6px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
}
.ellipse-1-copy-2 {
  height: 6px;
  width: 6px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
}
.container-5 {
  position: absolute;
  top: 25px;
  width: 100%;
}
@media (max-width: 768px) {
.bg-2 {
  min-height: unset;
}
.bg-2 > * {
  display: block;
  margin: 15px auto;
  position: relative;
  width: 100%;
  min-width: unset;
  max-height: unset;
  min-height: unset;
  top: unset;
  bottom: unset;
  left: unset;
  right: unset;
}
}
.group-2 {
  position: relative;
}
.text-8 {
  position: relative;
}
.col-data-wrapper-3 {
  margin: 15px auto 0;
  position: relative;
}
.wrapper {
  float: left;
  margin: 0 1.734104% 0 0; /* 15px / 865px = 1.734104% */
  min-height: 148px;
  position: relative;
  width: 27.630058%; /* 239px / 865px = 27.630058% */
}
.climb {
  left: 50%;
  max-width: 89px;
  position: absolute;
  top: 77px;
  color: #414f6b;
  font-family: Oswald, sans-serif;
  font-size: 3.199999rem; /* 32px / 10px = 3.2rem */
  font-weight: bold;
  line-height: 35px;
  margin-left: 30.5px;
}
.text-9 {
  left: 50%;
  max-width: 180px;
  position: absolute;
  top: 0;
  opacity: 0.5;
  color: #414f6b;
  font-family: Oswald, sans-serif;
  font-size: 13.562754rem; /* 135.63px / 10px = 13.563001rem */
  font-weight: bold;
  line-height: 148px;
  margin-left: -119.5px;
}
@media (max-width: 768px) {
.wrapper {
  min-height: unset;
}
.wrapper > * {
  display: block;
  margin: 15px auto;
  position: relative;
  width: 100%;
  min-width: unset;
  max-height: unset;
  min-height: unset;
  top: unset;
  bottom: unset;
  left: unset;
  right: unset;
}
}
.text-10 {
  float: left;
  margin: 5.2rem 0 0;
  width: 70.63584%; /* 611px / 865px = 70.63584% */
  font-weight: 300;
  line-height: 24px;
}
.container-6 {
  position: relative;
}
.tabs {
  margin: 26px 0 0;
  min-height: 40px;
  padding: 0 0 7px;
  position: relative;
  background: url(images/rectangle_20.jpg) no-repeat center 0;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.text-12 {
  margin: 8px auto 0;
  color: #414f6b;
  font-family: Oswald, sans-serif;
  font-size: 2rem; /* 20px / 10px = 2rem */
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}
.text-11 {
  margin: 8px auto 0;
  color: #b0b4be;
  font-family: Oswald, sans-serif;
  font-size: 2rem; /* 20px / 10px = 2rem */
  font-weight: bold;
}
.container-7 {
  position: relative;
}
.tab-content-2 {
  min-height: 546px;
  position: relative;
}
.tab-2 {
  padding: 10.1rem 0 21.6rem;
  position: absolute;
  top: 0;
  width: 100%;
  background: url(images/photo-1414449381078-c7768.png) no-repeat center 0;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.content {
  margin: 0 auto;
  max-width: 352px;
  min-height: 229px;
  padding: 18px 0 21px 5.445545%; /* 22px / 404px = 5.445545% */
  position: relative;
  background: rgba(255, 255, 255, 0.7);
  background-position: center center;
}
.schedule {
  margin: 0 0 0 11.647727%; /* 41px / 352px = 11.647727% */
  color: #414f6b;
  font-family: Oswald, sans-serif;
  font-size: 3.199999rem; /* 32px / 10px = 3.2rem */
  font-weight: bold;
}
.text-13 {
  margin: 11px 0 0 11.079545%; /* 39px / 352px = 11.079545% */
  width: 94.84849%; /* 313px / 330px = 94.84849% */
  font-weight: 300;
  line-height: 24px;
}
@media (max-width: 313px) {
.text-13 {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
}
.container-8 {
  position: relative;
}
.tab-1 {
  padding: 10.1rem 0 21.6rem;
  position: absolute;
  top: 0;
  width: 100%;
  background: url(images/photo-1417021423914-07097.png) no-repeat center 0;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.content-2 {
  margin: 0 auto;
  max-width: 352px;
  min-height: 229px;
  padding: 18px 0 21px 5.445545%; /* 22px / 404px = 5.445545% */
  position: relative;
  background: rgba(255, 255, 255, 0.7);
  background-position: center center;
}
.schedule-2 {
  margin: 0 0 0 11.647727%; /* 41px / 352px = 11.647727% */
  color: #414f6b;
  font-family: Oswald, sans-serif;
  font-size: 3.199999rem; /* 32px / 10px = 3.2rem */
  font-weight: bold;
}
.text-14 {
  margin: 11px 0 0 11.079545%; /* 39px / 352px = 11.079545% */
  width: 94.84849%; /* 313px / 330px = 94.84849% */
  font-weight: 300;
  line-height: 24px;
}
@media (max-width: 313px) {
.text-14 {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
}
.container-9 {
  position: relative;
}
@media (max-width: 768px) {
.tab-content-2 {
  min-height: unset;
}
.tab-content-2 > * {
  display: block;
  margin: 15px auto;
  position: relative;
  width: 100%;
  min-width: unset;
  max-height: unset;
  min-height: unset;
  top: unset;
  bottom: unset;
  left: unset;
  right: unset;
}
}
.footer {
  padding: 0 0 15px;
  position: relative;
  background: #414f6b;
  background-position: center center;
}
.logo-3 {
  margin: 16px auto 0;
  position: relative;
}
.vector-smart-object-2 {
  float: left;
  margin: 0 6.134969% 0 0; /* 10px / 163px = 6.134969% */
  width: 43px;
}
.text-16 {
  float: left;
  width: 110px;
}
.text-15 {
  margin: 29px auto 18px;
  color: #63769d;
  font-size: 1.2rem; /* 12px / 10px = 1.2rem */
  font-style: italic;
  font-weight: 900;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.container-10 {
  position: relative;
}
.text-style {
  line-height: 24px;
}
@media (max-width: 768px) {
.text-2 {
  margin: 10% 0 0; /* 68px / 940px = 7.234043% */
}
}
@media (max-width: 768px) {
.text-10 {
  margin: 5.2% 0 0;
}
}
